.page {
  background: var(--bg-white);
  padding: var(--margin-4);
  color: var(--text-black);
  font-family: var(--font-normal);
}

.header {
  padding: var(--margin-3);
  background: var(--bg-blue);
  margin-bottom: var(--margin-4);
}

.title {
  color: var(--text-white);
  font-size: var(--size-3);
}

.main {
}
