.page {
  background: var(--bg-white);
  padding: var(--margin-4);
  color: var(--text-black);
  font-family: Arial, sans-serif;
}

.header {
  padding: var(--margin-3);
  padding-bottom: var(--margin-4);
  background: var(--bg-blue);
  color: var(--text-white);
  font-size: var(--size-2);
}

.main {
}
